<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
  <link rel="stylesheet" href="/static/styles.css" type="text/css" media="screen" charset="utf-8">   
</head>
<body>
  <div id="myDIV" class="header">
    <h2>My To Do List</h2>
    <input type="text" id="myInput" placeholder="Title...">
    <span onclick="newElement()" class="addBtn"></span>
  </div>
  <ul id="myUL">
    <li>Hit the gym</li>
    <li class="checked">Pay bills</li>
    <li>Meet George</li>
    <li>Buy eggs</li>
    <li>Read a book</li>
    <li>Organize office</li>
  </ul>
  <button onclick="calculateCarbonFootprint()" class="calculateBtn">Calculate Carbon Footprint</button>
</body>
<script src="../scripts.js"></script>
<script>
  function calculateCarbonFootprint() {
    alert('Calculating Carbon Footprint...');
  }
</script>
</html>
